<p style="color: green"><%= notice %></p>

<% if @task.images.attached? %>
  <% @task.images.each do |image| %>
    <%= image_tag url_for(image), width: "100" %>
  <% end %>
<% end %>

<div>
  <%= link_to "Edit this task", edit_task_path(@task) %> |
  <%= link_to "Back to tasks", tasks_path %>
  <%= button_to "Destroy this task", @task, method: :delete, data: { confirm: "Are you sure?" } %>
</div>
